*.eps
checksum

*.log

*.aux

*.pdf

*.synctex

*.bbl

*.blg

*.tex

*_dynamic.m

*_static.m

*_steadystate2.m

*_results.mat
*_set_auxiliary_variables.m
*.jnl
*_pindx.mat
*_mh_mode.mat
*_optimal_mh_scale_parameter.mat
*_params_derivs.m
*_static_params_derivs.m
*/prior/definition.mat