*.eps
checksum
*.log
*.aux
*.pdf
*.synctex
*.bbl
*.blg
*.tex

*.fig
g1.mat
g2.mat
g3.mat
H.dat

+*
*_dynamic.m
*_static.m
*_steadystate2.m
*_results.mat
*_set_auxiliary_variables.m
*.jnl
*_pindx.mat
*_mh_mode.mat
*_optimal_mh_scale_parameter.mat
*_params_derivs.m
*_static_params_derivs.m
*/bytecode/
*/*/bytecode/
*/*/*/bytecode/
*/*/*/*/bytecode/
*/prior/
*/*/prior/
*/*/*/prior/
*/metropolis/
*/*/metropolis/
*/*/*/metropolis/
*/modecheck/
*/*/modecheck/
*/*/*/modecheck/
*/Output/
*/*/Output/
*/*/*/Output/

Born_Pfeifer_2014/Argentina_replication.mat
Chari_et_al_2007/CKM_Results_original_data.mat
Gali_2015/IRFs_taylor_rule.mat
Gali_Monacelli_2005/Gali_Monacelli_2005_OPTIMAL.mat
Jermann_Quadrini_2012/Jermann_Quadrini_2012_RBC/emp_data.mat
Jermann_Quadrini_2012/Jermann_Quadrini_2012_RBC/innovations_corrected.mat
RBC_baseline/first_diff_data.m